@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body{
    background-color: #eee;
}
.newspaper-container{
    background-color: white;
    margin: 100px auto;
    width: 75vw;
    border-radius: 20px;
    padding: 25px;
}
header{
    text-align: center;
}
img{
    width: 100%;
}
section{
    display: inline-block;
    width: 40%;
    margin-inline: 15px;
    padding-right: 10px;
}
li{
    display: inline;
    margin-inline: 10px;
    border-top: 1px solid black;
}