@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background: #eee;
}

.newspaper-container {
    background: white;
    margin: 100px auto;
    margin-bottom: 10px;
    width: 900px;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 2px 3px #ddd;
}


.date {
    text-align: left;
    font-family: 'Source Sans Pro';
    color: #777;
}

h1 {
    text-align: center;
    font-family: 'Abril Fatface';
}

img {
    width: 100%;
}

nav {
    text-align: center;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    position: sticky;
    top: 0px;
    background-color: white;
}

li {
    display: inline-block;
    margin-left: 10px;
    list-style: none;
}

li a {
    text-decoration: none;
    color: #777;
    font-family: 'Source Sans Pro';
}

p {
    padding: 10px;
    text-align: justify;
}

main {
    border-bottom: 1px solid #777;
}

main h2 {
    font-family: 'Roboto Slab';
}

main h5 {
    font-family: 'Abril Fatface';
    font-weight: bold;
    color: #dd3232;
    font-size: 1em;
}

.more-articles {
    text-align: center;
}

section {
    display: inline-block;
    width: 45%;
    margin-inline: 10px;
}
a:link {
color: #777;
text-decoration: none;
font-size: 14px;
}
a:visited{
    color: rgb(47, 47, 47);
}
a:hover{
    color: rgb(38, 71, 150);
}
.grid-container {
    border-top: 1px solid #777;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    width: 100%;
  }
.grid-container h4{
 color: rgb(38, 71, 150);
}
footer{
    text-align: center;
 }